<div class="card bg-primary text-white mb-1 margin">
  <div class="card-body" style="text-align: center" (click)="toggle()">{{title}}</div>
  <div class="card-body" style="overflow: hidden;" [@collapsable]="state">
    <div style="text-align:left;">
      <app-meteo style="font-style: normal" [city]="city"></app-meteo>
    </div>
    <div style="text-align:center;">
      <form #f="ngForm" (submit)="changeCity(f)">
        <div style="padding: 10px;">
          <label>
            <input class="input-group-text" type="text" [ngModel]="city.value" name="city">
          </label>
          <button style="flex: auto;margin-left: 10px" class="btn btn-outline-success" type="submit"
                  [@buttonAnimated]="statebtn"
                  (mouseover)="statebtn = 'over'"
                  (mouseout)="statebtn = 'out'">Change
          </button>
        </div>
      </form>
    </div>
  </div>
</div>





